html, body{
	scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	/* background-color: green; */
}

body{
	/* display: flex; */
	/* flex-direction: column; */
	overflow-x: hidden;
	/* flex-wrap: wrap; */
	/* align-items: center; */
	/* width: 100%; */
	background-color: oldlace;
}

	body a{
		text-decoration: none;
	}

p{
	font-family: 'Open Sans', sans-serif;
}

.row{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column-reverse;
	/* position: absolute; */
	/* width: 100%; */
}

.card-title, .card-referencia, .card-descripcion, .card-text{
	/* width: 95%; */
	/* max-width: 40%; */
	/* height: 125px; */
	margin: 20px 5px 5px 0;
}



/*================CSS HEADER ====================*/

.fotoGaleria{
	background-image: url(../images/foto-portada-galeria.jpg);
	background-repeat: no-repeat;
	min-height: 350px;
	background-position: center;
	background-size: cover;
	max-width: 100%;
	}

	    @media screen and (min-width:768px){
	    .fotoGaleria{
/* 	    	min-height:400px; */
	    	background-position:center;
	    }
	    }

	.fotoGaleriaInfo h1{
		color:#ff5722;
		padding: 20px 10px;
	}



/*================CSS PARA NAVEGADOR============*/

.navegador{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   position:sticky;
   top: 0px;
   z-index: 1000;
   /* width: 100%; */
  }


    @media screen and (max-width: 370px){
      .navegador .enlaces a:first-child{
        display: none;
      }
    }

.enlaces{
  display: flex;
  /* flex-grow: 2; */
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #ff5722;
  width: 100%;
  /* padding: 10px; */
  height: 60px;
  align-items: center;
}

.navegador .enlaces a{
   /*background-color: #ff5722;*/
   /* border-radius: 6px; */
   text-decoration: none;
   padding: 4px;
   color: #000;
   /* width: 83px; */
}

.navegador:hover{
  background-color: white;
  color: #ff5722;
}


/* ===============CSS PARA EL MAIN===============*/


.main{
	/* width: 100%; */
}

    .main img{
    	max-width: 100%;
    	/* text-align: center; */
    	/* display: block; */
    	/* margin-right: 15px; */
    	/* margin-left: 15px; */
    	margin-top: 20px;
    	/* object-fit:cover; */
    	/* object-position:center; */
    }

    	@media screen and (min-width: 600px){
    		.img-fluid{
    			/*max-width: 300px;*/
    			/* float: left; */
    			/* margin: 20px 0 30px 0; */
    			/* width: 50%; */
    		}

    		.card-title, .card-referencia, .card-descripcion, .card-text{
    			width: 50%;
    			/* float: right; */
    			/* margin: 9px 0; */
    			/* line-height: 15px; */
    			/* margin-top: 2px; */
    			/* max-width: 300px; */
    		}

    
    	}

.card-body{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 95%;
	margin: auto;
	align-items: center;
	/* overflow: hidden; */
}

		@media screen and (min-width: 600px){

			.card-body{
				align-items: center;
			}
		}    	


.aside{
	width: 100%;
	/* margin-top:40px; */
	/* position: fixed; */
	/* top: 0; */
	background-color: oldlace;
	/* margin-bottom: 80px; */
}

.aside>h2, .text-right{
	padding: 5px 0 5px 40px;
}

.btn{
	width: 140px;
}

.btnBorrar{
	position: relative;
	top:-51px;
	left:120px;
}

.btn-primary{
	background-color: lightgreen;
}

.btn-danger{
	background-color: red;
	/* position: relative; */
	/* right: 128px; */
}



.carro{
	position: relative;
	top:0;
	left: 0;
	margin-bottom: 40px;
	transition: left 0.5s;
}


	.moverCarro{
		left:-100%;
		/* display: none; */
		/* max-height: 1228px; */
		/* overflow: hidden; */
	}

	

.btnDatosCompra{
	
margin: 10px 0 20px 60px;
	
background-color:lightgreen;
}


.imgCarrito{
	width: 100px;
	/* position: relative; */
	/* left: 5px; */
	padding: 10px 10px 0 10px;
}

.list-group-item{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	border-bottom: 1px dotted black;
	/* border-bottom-width: 20px; */
	align-items: flex-start;
}


.oculta{position: fixed;top: 412px;left: 100%;/* overflow: hidden; */transition: left 0.5s;/* z-index: 0; *//* display: none; *//* opacity: 0; */background-color: oldlace;}

    .oculta h2{
    	text-align:center;
    	margin: 10px 0 20px 0;
    }

	.moverOculta{
		
left:0;
		
top: 430px;
		
position: absolute;
		
/* display: block; */
		
/* height: 400px; */
		
/* opacity: 1; */
		}

.cuentaBanco{
	width: 100%;
	/* margin-left: auto; */
	/* margin-right: auto; */
	margin-bottom: 20px;
}

.botonera{
	height: 60px;
}

	.cuentaBanco p{
		padding:30px;
	}	

	@media screen and (min-width: 600px){
		.cuentaBanco p{
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
	}

.cuenta{
	display: none;
}

.finalizarCompra{
	background-color: lightgreen;
	padding: 10;
	margin: auto;
	display: block;
	align-items: middle;
}

/*=========================CSS FORMULARIO====================*/


/*--formulario--*/

.formulario{
	background-color:#fff;
}

fieldset{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	/* padding-left: 15px; */
	/* padding-right: 15px; */
}

.regresarCarro{
	background-color:lightgreen;
	margin:10px 0 0 10px;
}

.informacionFormulario{
  display: flex;
  flex-wrap: wrap;
  padding: 0px 35px 4px 15px;
  /* justify-content: space-between; */
  /* width: 100%; */
}

.informacionFormulario div{
	width: 100%;
	margin-left: auto;
	padding: 35px 0px 4px 0px; */
	padding-bottom: 22px;
	margin-right: auto;
}


    @media screen and (min-width:600px){
    	.informacionFormulario div{
    		width: 50%;
    		padding-right: 20px;
    	}


    }

    @media screen and (min-width:600px){

    	.informacionFormulario div:nth-child(7){
    		width: 50%;
    	}
    }

.informacionFormulario input{
	width:100%;
	font-size: 14px;
	border:1px solid #000;
	padding:10px;
}

textarea{
	width: 100%;
	min-height: 128px;
	padding: 0.6em;
	border:1px solid #000;
	font-size: 14px;
	line-height: 35px;
}


/*--botones formulario--*/

.botonesFormulario{
	/* width: 80%; */
	padding-bottom:23px;
	margin: auto;
}

.botonesFormulario div{
	/* padding-bottom:5px; */
	/* margin: auto; */
}

.botonesFormulario input{
	/* width:100%; */
	/* padding:7px; */
	/* color:white; */
	/* background-color:#ff5722; */
	/* font-size: 16px; */
	/* font-weight: 500; */
	display: block;
}


.reset + label{
	display: none;
}

	@media screen and (min-width: 600px){
		.botonesFormulario input{
			width: 120px;
			margin: auto;
		}
	}


/*=============================CSS PARA FOOTER====================*/

/*--footer--*/



